.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
}
.home-name {
  font-size: 55px;
  color: #ffff;
  font-weight: 645;
}
.home-description {
  font-size: 18px;
  font-weight: 500;
  color: #ffff;
}
.home-container-bottom {
  width: 40%;
  margin-left: 60px;
  margin-top: 80px;
}
.find-jobs {
  background-color: #6366f1;
  color: #ffff;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  width: 80px;
}
