.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  padding-left: 50px;
  padding-right: 50px;
  height: 65px;
}

.logo-image-two {
  width: 60%;
}
.home-route {
  color: #ffff;
  font-size: 6px;
  font-family: roboto;
  text-decoration: none;
  margin-right: 12px;
}
.route-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout {
  background-color: #4f46e5;
  border: 0;
  border-radius: 4px;
  font-size: 11px;
  font-family: 'roboto';
  color: #ffff;
  padding: 5px;
  width: 80px;
}
